<section id="content">
	<section class="main">
	  <div class="padder m-t">
	    <div class="row">
	      <div class="col-md-12">
	        <section class="panel">
	          <header class="panel-heading">User Locations</header>
	          <div class="panel-body">
	           <section>
							<div class="table-responsive">
		            <table class="table table-striped m-b-none">
		              <thead>
										<th>Email</th>
										<th>First</th>
										<th>Last</th>
										<th>Role</th>
										<th>Last logged in</th>
		              </thead>
		              <tbody>
										<% @users.each do |user| %>
											<tr>
												<td><%= user.email %></td>
												<td><%= user.first_name %></td>
												<td><%= user.last_name %></td>
												<td><%= user.role %></td>
												<td><%= time_ago_in_words(user.created_at) %> ago</td>
											</tr>
										<% end %>
		              </tbody>
		            </table>
		           </section>
            	</div>	          
          	</div>
	        </section>
        </div>
        <div class="col-md-12">
	        <section class="panel">
	          <div class="panel-body text-muted l-h-2x">
	            <span class="badge">Logged in as <%= current_user.first_name %><%= current_user.last_name %></span>
	            <%= link_to "New User", new_user_path, class: "btn btn-default" %>
	          </div>
	        </section>
	      </div>
	    </div>
	  </div>
	</section>
</section>