  <section id="content">
    <div class="main padder">
      <div class="row">
        <div class="col-lg-4 col-lg-offset-4 m-t-large">
          <section class="panel">
            <header class="panel-heading text-center">
              Sign in
            </header>
            <div class="panel-body">
            <%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
              <div class="block">
                <label class="control-label"><%= f.label :email %></label>
                <%= f.email_field :email, :class => "form-control", :placeholder => "email@address.com", :autofocus => true %>
              </div>
              <div class="block">
                <label class="control-label"><%= f.label :password %></label>
                <%= f.password_field :password, :id => "inputPassword", :placeholder => "Password", :class => "form-control" %>
              </div>
              <div class="checkbox">
	            <% if devise_mapping.rememberable? -%>
	    			<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
				<% end -%>
              </div>
              <small><%= link_to('Forgot your password?', new_user_password_path, :class => "pull-right m-t-mini") %></small>
              <%= f.submit "Sign in", :class => "btn btn-info" %>
              <div class="line line-dashed"></div>
              <%= link_to user_omniauth_authorize_path(:facebook) do %>
                <div class="btn btn-facebook btn-block m-b-small"><i class="icon-facebook pull-left"></i> Sign in with Facebook</div>
              <% end %> 
              <p class="text-muted text-center"><small>Do not have an account?</small></p>
              <%= link_to('Sign up', new_user_registration_path, :class => "btn btn-white btn-block")  %>
          	<% end %>
            </div>
          </section>
        </div>
      </div>
    </div>
  </section>