<div class="bg-primary clearfix padder m-b">
  <h3 class="m-b"><%= @post.title %></h3>
</div>
<div class="text-small padder">
  <article id="comment-id-3" class="comment-item media arrow arrow-left">
    <a class="pull-left thumb-small avatar"><%= image_tag("cmf-avatar.jpg", :class => "img-circle", :style => "max-height:36px;") %></a>
    <section class="media-body panel">
      <header class="panel-heading clearfix">
        <% if @post.user == current_user %>
          <strong>By me</strong>
        <% else %>
          <strong><%= @post.user.full_name %></strong>
        <% end %>
        <label class="label bg-default m-l-mini"><%= @post.post_type.name %></label>
        <span class="text-muted m-l-small pull-right"><i class="fa fa-time"></i>Created <%= @post.created_at.strftime("%b %e") %> (<em>updated <%= time_ago_in_words(@post.updated_at) %> ago</em>)</span>
      </header>
      <div class="panel-body">
        <div><%= @post.content %></div>
        <div class="comment-action m-t-small">
          <% if @post.user == current_user %>
            <%= link_to post_path(@post), {:method => :delete, :id => "comment-id-3", 'data-dismiss' => 'alert', :class => "btn btn-white btn-xs"} do %>
              <i class="fa fa-trash text-muted"></i><span>Remove</span>
            <% end %>
          <% end %>
        </div>
      </div>
    </section>
  </article>
  <% @post.comments.each do |comment| %>
    <article id="comment-id-3" class="comment-item media arrow arrow-left">
      <a class="pull-left thumb-small avatar"><%= image_tag("cmf-avatar.jpg", :class => "img-circle", :style => "max-height:36px;") %></a>
      <section class="media-body panel">
        <header class="panel-heading clearfix">
          <% if comment.user == current_user %>
            <strong>By me</strong>
          <% else %>
            <strong><%= comment.user.full_name %></strong>
          <% end %>
          <span class="text-muted m-l-small pull-right"><i class="fa fa-time"></i><em>commented <%= time_ago_in_words(comment.created_at) %> ago</em></span>
        </header>
        <div class="panel-body">
          <div><%= comment.content %></div>
        </div>
      </section>
    </article>
  <% end %>


		<%= form_for [@post,@comment] do |f| %>
		  <div class="padder">
		    <form class="panel text-small">
		      <div class="input-group">
		      	<%= f.text_field :content, :class => "form-control", :placeholder => "Say something..." %>
		  			<span class="input-group-btn">
		  				<%= f.submit "Send", :class => "btn btn-primary" %>
		  			</span>
					</div>
		<% end %>

  </div>