<section id="content" class="content-sidebar bg-white">
<!-- .sidebar -->
<aside class="sidebar bg-lighter sidebar-small">
  <div class="text-center clearfix bg-white">
    <%= link_to "data-toggle" => "modal", 'data-target' => '#modal', 'data-no-turbolink' => true do %>
      <div class="btn btn-info btn-sm m-t m-b"><i class="fa fa-plus pull-left"></i> POST</div>
    <% end %>
  </div>
  <div class="list-group list-normal m-b-none">
    <a href="#" class="list-group-item active"><i class="icon-inbox"></i><span class="badge m-r"></span> All</a>
    <a href="#" class="list-group-item"><i class="fa fa-clock-o"></i> Delays</a>
    <a href="#" class="list-group-item"><i class="fa fa-unlink"></i><span class="badge m-r"></span> Accidents</a>
    <a href="#" class="list-group-item"><i class="fa fa-warning"></i><span class="badge m-r"></span> Damages</a>
    <a href="#" class="list-group-item"><i class="fa fa-font"></i> Poetry</a>
  </div>
</aside>
<!-- /.sidebar -->
<!-- .sidebar -->
<aside class="sidebar sidebar-large">
  <div class="padder header-bar bg clearfix">
    <div class="btn-group m-t pull-right">
      <button type="button" class="btn btn-sm btn-white"><i class="fa fa-chevron-left"></i></button>
      <button type="button" class="btn btn-sm btn-white"><i class="fa fa-chevron-right"></i></button>
    </div>
    <div class="btn-group m-t m-b">
      <button class="btn btn-white btn-sm dropdown-toggle" data-toggle="dropdown">Filter <span class="caret"></span></button>
      <ul class="dropdown-menu text-left text-small">
        <li><a href="#">Read</a></li>
        <li><a href="#">Unread</a></li>
        <li><a href="#">Starred</a></li>
        <li><a href="#">Unstarred</a></li>
      </ul>
    </div>
    <button class="btn btn-sm btn-white" data-toggle="tooltip" data-title="Refresh"><i class="fa fa-refresh"></i></button>
  </div>
  <div class="list-group list-normal m-t-n-xmini scroll-y scrollbar" style="max-height:400px">
    <% @posts.each do |post| %>
      <%= link_to(post, :class => "list-group-item", :id => dom_id(post)) do  %>
      <small class="pull-right text-muted"><%= time_ago_in_words(post.updated_at) %> ago</small><strong><%= post.user.first_name %> <%= post.user.last_name %></strong><br><small><%= post.content %></small>
      <% end %>
    <% end %>
  </div>
</aside>
<!-- /.sidebar -->
<!-- .main -->
<section class="main">
  <% if @post %>
    <%= render :partial => "post" %>
  <% end %>
</section>
<!-- /.main -->
</section>
<!-- .modal -->
<div id="modal" class="modal fade">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><i class="fa-remove"></i>&times;</button>
        <h4 class="modal-title" id="myModalLabel">Make a post...</h4>
      </div>
      <%= form_for Post.new do |f| %>
      <div class="modal-body">          
        <div class="block">
          <label class="control-label">Title</label>
          <input type="text" class="form-control" placeholder="Post title">
        </div>
        <div class="block">
          <label class="control-label">Type of Post</label>
          <div class="form-group">
            <div class="btn-group">
              <button data-toggle="dropdown" class="btn btn-sm btn-white dropdown-toggle">
                <%= collection_select(:post, :post_type_id, PostType.all, :id, :type_of_post, :prompt => true ) do %>
                  <span class="dropdown-label" data-placeholder="Please select">Pick one...</span> 
                  <span class="caret"></span>
                <% end %>
              </button>
            </div>
          </div>
        </div>
        <div class="block">
          <label class="control-label">Content</label>
          <%= f.text_field :content, :class => "form-control", :placeholder => "What's happening?", 'data-trigger' => 'keyup', 'data-rangelength' => '[20,200]', 'rows' => '5' do %>
              <textarea placeholder="What's happening?" rows="5" class="form-control"></textarea>
          <% end -%>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-sm btn-default" data-dismiss="modal">Close</button>
        <%= f.submit "Post", :class => "btn btn-sm btn-primary", 'data-loading-text' => 'Publishing' %>
      </div>
    </div><!-- /.modal-content -->
  </div>
  <% end %><!-- ends form -->
</div>
<!-- / .modal -->
