<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
<html>    
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>Sameboat | Where Public Meets Transit</title>
    <meta name="keywords" content="sameboat public transit toronto ttc canada aly amaan rattansi where public meets transit">
    <meta name="description" content="Sameboat is a web & mobile app that allows transit riders to plan trips in real-time. We provide to-the-second bus and streetcar schedules, in addition to traffic delays and other incidents. ">
    <meta name="author" content="Aly Rattansi, Amaan Rattansi, & Edward Chen">
    
    <meta content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" name="viewport">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">

<!-- Le javascript ================================================== -->
  <script type="text/javascript" src="http://maps.googleapis.com/maps/api/js?key=AIzaSyB1cvBrNQdGDTZAFbF6pMG4zK0iTQtAnFs&sensor=true&libraries=places"></script>

  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
    <%= csrf_meta_tags %>
</head>
<body>

<div class="container">
	<div class="navbar navbar-fixed-top">
	  <div class="navbar-inner">
	    <div class="container">
	        <%= link_to image_tag("logo@2X.png", alt: "Home", class: "brand logo"),home_index_path %>
	      <div class="nav pull-right">
        	<%= link_to_function "Nearby", "moveVehicles(['95'],'95_1_95');", :class=>"btn btn-primary" %>
	      </div>
	    </div>
	  </div>
	</div><!-- /.navbar -->
</div>

<%= yield %>

</body>
</html>