<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>Sameboat | Where Public Meets Transit</title>
  <meta name="keywords" content="sameboat public transit toronto ttc canada aly amaan rattansi where public meets transit">
  <meta name="description" content="Sameboat is a web & mobile app that allows transit riders to plan trips in real-time. We provide to-the-second bus and streetcar schedules, in addition to traffic delays and other incidents.">
  <meta name="author" content="Aly Rattansi & Amaan Rattansi">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
  <meta name="mobile-web-app-capable" content="yes"> 

  <!-- <%= stylesheet_link_tag "application", media: "all", "data-turbolinks-track" => true %> -->
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css" %>
  <%= stylesheet_link_tag "//maxcdn.bootstrapcdn.com/font-awesome/4.1.0/css/font-awesome.min.css" %>
  <%= stylesheet_link_tag "https://sameboatcdn.blob.core.windows.net/css/style.css" %>
  <%= stylesheet_link_tag "https://sameboatcdn.blob.core.windows.net/css/plugin.css" %>
  <%= stylesheet_link_tag "https://sameboatcdn.blob.core.windows.net/css/map.css" %>
  <%= stylesheet_link_tag "https://sameboatcdn.blob.core.windows.net/css/sameboat.css" %>

  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?v=3&sensor=true"></script>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>

  <%= csrf_meta_tags %>
  
</head>
<body style class="navbar-fixed">

<% if user_signed_in? %>

  <!-- header -->
	<header id="header" class="navbar">
    <ul class="nav navbar-nav navbar-avatar pull-right">
      <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">            
          <span class="hidden-xs-only"><%= current_user.first_name %> <%= current_user.last_name %></span>
            <% if current_user.avatar %>
              <!-- <span class="thumb-small avatar inline"><%= image_tag(current_user.avatar.url, :class => "img-circle", :style => "max-height:36px;") %></span> -->
              <span class="thumb-small avatar inline"><%= image_tag("cmf-avatar.jpg", :class => "img-circle", :style => "max-height:36px;") %></span>
            <% end %>
          <b class="caret hidden-xs-only"></b>
        </a>
        <ul class="dropdown-menu">
          <li><%= link_to('Settings', edit_user_registration_path) %></li>
          <li class="divider"></li>
          <li><%= link_to('Logout', destroy_user_session_path, :method => :delete) %></li>
        </ul>
      </li>
    </ul>
    <%= link_to image_tag("sameboat_black.png", :class => "thumb-mini", :style => "max-width:15px;"), root_path, :class => "navbar-brand" %>
    <button type="button" class="btn btn-link pull-left nav-toggle visible-xs" data-toggle="class:slide-nav slide-nav-left" data-target="body">
      <i class="fa fa-bars icon-xlarge text-default"></i>
    </button>
	</header><!-- / header -->
  <!-- nav -->
  <nav id="nav" class="nav-primary hidden-xs nav-vertical">
    <ul class="nav" data-spy="affix" data-offset-top="50">
      <li class="dropdown-submenu">
        <%= link_to posts_path do %>
          <i class="fa fa-plus icon-xlarge"></i><span>Post</span>
        <% end -%>
      </li>
      <li>
        <%= link_to root_path, 'data-no-turbolink' => true do %>
          <i class="fa fa-location-arrow icon-xlarge"></i><span>Nearby</span>
        <% end -%>
      </li>
      <li>
        <%= link_to plans_path, 'data-no-turbolink' => true do %>
          <i class="fa fa-map-marker icon-xlarge"></i><span>Plan a Trip</span>
        <% end -%>
      </li>
      <li>
        <%= link_to edit_user_registration_path do %>
          <i class="fa fa-gear icon-xlarge"></i><span>Settings</span>
        <% end -%>
      </li>
      <li>
        <%= link_to destroy_user_session_path, :method => :delete do %>
          <i class="fa fa-sign-out icon-xlarge"></i><span>Log out</span>
        <% end -%>
      </li>
    </ul>
  </nav>
  <!-- / nav -->

<% else %>

  <!-- header -->
  <header id="header" class="navbar bg bg-black">
    <a href="/about" target="_blank" class="btn btn-link pull-right m-t-mini"><i class="fa fa-question icon-xlarge text-default"></i></a>
    <%= link_to image_tag("sameboat_white.png", :class => "thumb-small", :style => "max-width:20px;"), root_path, :class => "navbar-brand" %>
  </header>

<% end %>

<%= yield %>
  
  <!-- footer -->
  <footer id="footer">
    <div class="text-center padder clearfix">
      <p>
        <small>&copy; Copyright Sameboat 2014</small><br><br>
        <a href="http://www.twitter.com/sameboatco" target="_blank" class="btn btn-xs btn-circle btn-twitter"><i class="fa fa-twitter"></i></a>
        <a href="http://www.facebook.com/sameboat" target="_blank" class="btn btn-xs btn-circle btn-facebook"><i class="fa fa-facebook"></i></a>
      </p>
    </div>
  </footer>
  <!-- / footer -->

  <script type="text/javascript">
    $( document ).ready(function() {
      $(geolocation);
    });
  </script>

</body>
</html>